
<div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
  <h2>A blog system securely communicates with clients</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8dhu7nsuIIw" frameborder="0" allowfullscreen></iframe>
</div>
