[submodule "project2/src/lib/--force"]
	path = project2/src/lib/--force
	url = https://github.com/jpbarrette/curlpp
[submodule "project2/src/lib/tclap"]
	path = project2/src/lib/tclap
	url = https://github.com/eile/tclap
[submodule "project2/src/lib/curlpp"]
	path = project2/src/lib/curlpp
	url = https://github.com/jpbarrette/curlpp
