<div class="row">

  <div class="col-md-8">

    <% blogs.reverse().forEach(function(blog) { %>
      <% if (blog.public || (user && blog.author === user.username)) { %>
        <h2>
          <%= blog.shownTitle %>
          <% if (blog.public) { %>
            <small class="text-success">public</small>
          <% } else { %>
            <small class="text-danger">private</small>
          <% } %>
        </h2>
        <p class="lead">
          by <%= blog.author %>
        </p>
        <hr/>
        <div class="container">
          <%- blog.renderedContents %>
        </div>
        <hr/>
      <% } %>
    <% }); %>

  </div>

</div>
