<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="fa fa-lock"></span>
        <% if (user) { %>
          <%= user.username %>
        <% } else { %>
          Secure Blog
        <% } %>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">Demo</a></li>
      <% if (user) { %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      <% } %>
    </ul>

  </div>
</nav>
