<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">

      <header>
        <% include ./partials/header %>
      </header>


      <%- body %>

    </div>
  </body>

  <footer>
    <% include ./partials/footer %>
  </footer>
</html>
